/*! standardize.css v1.1 | GNU GPL v3 | https://bitbucket.org/teckel12/standardize.css */

* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}

table {
  width: 100%;
}

p, ul, ol {
  padding-bottom: 1em;
}

ul, ol {
  list-style-position: inside;
}

a {
  transition: background-color ease-in-out .25s, color ease-in-out .25s, border-bottom-color ease-in-out .25s;
}

.viewerror {
  margin: 0;
  background: #ccc;
  color: #000;
  padding: .5em;
  text-align: center;
  position: relative;
  z-index: 5000;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body.mobile-menu {
  position: fixed;
}

.css-transitions-off * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}