@import url("https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.fist-nav {
  height: 60px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #d3d2d2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 3rem;
}

.fist-nav__imag {
  margin-left: 40px;
  margin-right: 40px;
}

.fist-nav__nav {
  font-family: 'Asap', sans-serif;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-container {
  height: 60px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #f7f7f7;
  justify-content: flex-end;
  padding-right: 3rem;
}

.nav-container__nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container__nav1 nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container__nav1 nav button {
  background-color: #67b500;
  border: none;
}

.menu-items {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.menu-items li {
  margin: 5px;
}

main {
  height: 100%;
  background: #d3d2d2;
}

.home {
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.filters span {
  margin: 1%;
  padding: 5px;
}

.filters button {
  background: #67b500;
  border: none;
  height: 2rem;
  color: white;
}
/*# sourceMappingURL=style.css.map */