@import'./reset.scss';
// @import "scss/fontawesome.scss";
@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap');
body {
    background-color: #d3d2d2;
}

.header {
    display: flex;
    flex-direction: column;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid #868585;
    a {
        text-decoration: none;
        color: black;
    }
    &__logo {
        margin: 0 4%;
        margin-left: -1%;
    }
    &__first-list {
        align-self: flex-end;
        font-size: large;
    }
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__second-list {
        font-size: large;
    }
    &__item {
        margin-right: 15px;
        list-style: none;
    }
    &__buttons {
        background-color: #67b500;
        margin-left: 3%;
        text-decoration: none;
        .button {
            border: none;
            color: white;
            background: #67b500;
        }
    }
}

.nav-color-white {
    background-color: #f7f7f7;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin-left: 2rem;
    .buttons {
        color: white;
        background-color: #67b500;
        text-decoration: none;
        border: none;
        height: 2.2rem;
        padding: 0 22px;
        margin-bottom: 1rem;
        font-size: 14px;
    }
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3.9rem;
    &__list {
        padding: 0;
        display: flex;
        list-style: none;
    }
    &__item {
        margin-right: 4rem;
    }
    &__has-next::after {
        content: ">";
        margin-left: 10px;
    }
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.card {
    width: 500px;
    margin: 16px;
    background-color: #fff;
    box-sizing: border-box;
    &__figure {
        margin: 0;
        display: flex;
    }
    &__image {
        width: 500px;
        height: 200px;
    }
    &__discount {
        color: #fff;
        background: url("../img/label01.png") no-repeat 0 0 transparent;
        background-size: 146px 88px;
        width: 146px;
        height: 88px;
        padding: 14px 0 0 5px;
        position: absolute;
        margin-top: 1%;
        .offert-line1 {
            display: block;
            font-family: "asapregular", sans-serif;
            font-size: 1.167em;
        }
        .offert-line2 {
            display: block;
            font-family: "asapbold", Arial, Helvetica, sans-serif;
            font-size: 1.667em;
        }
    }
    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &__card-price {
            margin-left: -7rem;
        }
        .litle-text {
            font-size: initial;
            color: #929292;
        }
        .big-price__green {
            display: grid;
            color: yellowgreen;
            font-size: 2rem;
        }
    }
    .article {
        display: flex;
        flex-wrap: wrap;
        // margin: 5rem;
        // margin-top: 1rem;
        background-color: #fff;
        &__article {
            margin: 5rem;
            margin-top: 1rem;
            background-color: #fff;
            .subtitle {
                color: #444343;
                margin-left: 3%;
            }
            .copy {
                font-size: 15px;
                color: #929292;
                margin-top: 0px;
                margin-bottom: 3%;
                margin-right: 3%;
                margin-left: 3%;
            }
        }
    }
    .footer {
        font-family: inherit;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-left: 2px solid #67b500;
        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}