@import url("https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d3d2d2;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #868585;
}

.main-nav a {
  text-decoration: none;
  color: black;
}

.main-nav__logo {
  margin: 0 4%;
  margin-left: -1%;
}

.main-nav__first-list {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: large;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-nav__second-list {
  font-size: large;
}

.main-nav__item {
  margin-right: 15px;
  list-style: none;
}

.main-nav__buttons {
  background-color: #67b500;
  margin-left: 3%;
  text-decoration: none;
}

.main-nav__buttons .button {
  border: none;
  color: white;
  background: #67b500;
}

.nav-color-white {
  background-color: #f7f7f7;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 2rem;
}

.filters .buttons {
  color: white;
  background-color: #67b500;
  text-decoration: none;
  border: none;
  height: 2.2rem;
  padding: 0 22px;
  margin-bottom: 1rem;
  font-size: 14px;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 3.9rem;
}

.breadcrumb__list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.breadcrumb__item {
  margin-right: 4rem;
}

.breadcrumb__has-next::after {
  content: ">";
  margin-left: 10px;
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  width: 500px;
  margin: 16px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card__figure {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__image {
  width: 500px;
  height: 200px;
}

.card__discount {
  color: #fff;
  background: url("../img/label01.png") no-repeat 0 0 transparent;
  background-size: 146px 88px;
  width: 146px;
  height: 88px;
  padding: 14px 0 0 5px;
  position: absolute;
  margin-top: 1%;
}

.card__discount .offert-line1 {
  display: block;
  font-family: "asapregular", sans-serif;
  font-size: 1.167em;
}

.card__discount .offert-line2 {
  display: block;
  font-family: "asapbold", Arial, Helvetica, sans-serif;
  font-size: 1.667em;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card__footer__card-price {
  margin-left: -7rem;
}

.card__footer .litle-text {
  font-size: initial;
  color: #929292;
}

.card__footer .big-price__green {
  display: -ms-grid;
  display: grid;
  color: yellowgreen;
  font-size: 2rem;
}

.card .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
}

.card .article__article {
  margin: 5rem;
  margin-top: 1rem;
  background-color: #fff;
}

.card .article__article .subtitle {
  color: #444343;
  margin-left: 3%;
}

.card .article__article .copy {
  font-size: 15px;
  color: #929292;
  margin-top: 0px;
  margin-bottom: 3%;
  margin-right: 3%;
  margin-left: 3%;
}

.card .footer {
  font-family: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 2px solid #67b500;
}

.card .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=style2.css.map */