@import'./reset.scss';
// @import "scss/fontawesome.scss";
@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap');
html,
body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    // display: flexbox;
    // flex-wrap: wrap;
    // flex-direction: column;
    // align-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.fist-nav {
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    // flex-direction: row;
    flex-wrap: wrap;
    background: #d3d2d2;
    justify-content: flex-end;
    flex-direction: column;
    padding-right: 3rem;
    &__imag {
        margin-left: 40px;
        margin-right: 40px;
    }
    &__nav {
        font-family: 'Asap', sans-serif;
        justify-content: flex-end;
    }
}

.nav-container {
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    // flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    background: #f7f7f7;
    justify-content: flex-end;
    padding-right: 3rem;
    &__nav1 {
        display: flex;
        nav {
            display: flex;
            button {
                background-color: #67b500;
                border: none;
            }
        }
    }
}

.menu-items {
    list-style-type: none;
    display: inline-flex;
    li {
        margin: 5px;
    }
}

main {
    height: 100%;
    background: #d3d2d2;
    // flex-direction: row;
}

.home {
    height: 20px;
    width: 20px;
    display: flex;
}

.filters {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    span {
        margin: 1%;
        padding: 5px;
    }
    button {
        background: #67b500;
        border: none;
        height: 2rem;
        color: white;
    }
}